/*Variáveis no css*/
:root{
    --branco:#ffffff;
    --preto: #000000;
    --roxo1: #52057B;
    --roxo2: #892CDC;
    --roxo3: #BC6FF1;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--preto);
    /* background-image: linear-gradient(to bottom right, var(--roxo1), var(--roxo3)); */
}